/* ===================== Підключаємо шрифти =====================> */
@font-face {
    font-family: kamerik-3d;
    src: url(./fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}
@font-face {
    font-family: merriweather-italic-3d;
    src: url(./fonts/merriweather-regular-italic.woff2);
}
/* ===================== Задаємо змінні ========================> */
:root {
    --backgroundColor: #221f2f; 
    --color:           #737373;
    --textColor:       #fff;
    --index:           calc(1vw + 1vh);
    --transition:      1.5s cubic-bezier(.05, .5, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:var(--backgroundColor);
    color: var(--textColor);
    font-family: merriweather-italic-3d;
    user-select: none;
}


/* ==============================================================================================> */
.layers {
    perspective: 1000px;
    overflow: hidden;  
}
.layers .layers_container {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;                                           /*вказуємо браузеру, що властивість `transform` може бути змінена, і браузер можна підготувати до цього, щоб покращити анімацію та продуктивність. */
    transition: transform var(--transition);
}
.layers .layers_container .item {
    position: absolute;
    inset: -15vw;                                                    /* Внутрішній відступ -15vw від лівого, правого, верхнього та нижнього краю */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.layers .layers_container .item.layer_1 {
    transform: translateZ(-60px) scale(1.06);
}
.layers .layers_container .item.layer_2 {
    transform: translateZ(60px) scale(.95);
}
.layers .layers_container .item.layer_2 .box.chat{
    position: absolute;
    top: 15vw;
    display: flex;
    flex-direction: column-reverse;
    padding: 5% 1%;
    pointer-events: auto; 
}
.layers .layers_container .item.layer_2 .box.chat .chat-log {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
 .layers .layers_container .item.layer_2 .box.chat .chat-log::-webkit-scrollbar {
    width: 0px;                                   /* Ширина прокрутки */
}

.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box{
    display: flex;
    gap: calc(var(--index) * .5);
    width: 100%;
    height: auto;
    margin-top: calc(var(--index) * .5625 );
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box.user {
   display: flex;
   justify-content:  end;
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box.bot {
    display: flex;
    justify-content: start;
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box .sender{
    --border-size: calc(var(--index) * .1);
    justify-content: center;
    padding: calc(var(--index) * .25) calc(var(--index) * .75);
    border-radius: .5rem;

    color: var(--textColor);
    font-size: calc(var(--index) * 1);
    font-weight: 100;
    font-family: kamerik-3d;
    letter-spacing: calc(var(--index) * .05);
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box.user .sender{
    order: 1;
    border: var(--border-size) solid var(--color);
    background-color: transparent;
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box.bot .sender{
    border: var(--border-size) solid var(--color);
    background-color:transparent;
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box .icon{
    height: calc(var(--index) * 1.35);
    min-width: calc(var(--index) * 1.35);
    margin-top: auto;
    background-size: cover;
    background-position: center;
}
.layers .layers_container .item.layer_2 .box.chat .chat-log .chat-box.user .icon{
    order: 2;
}
.layers .layers_container .item.layer_2 .box.chat a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--index) * 1.125);
    color: var(--textColor);
    text-decoration: none;
}
.layers .layers_container .item.layer_3 {
    transform: translateZ(120px) scale(.88);
}
.layers .layers_container .item.layer_4 {
    transform: translateZ(180px) scale(.85);
}
.layers .layers_container .item.layer_5 {
    transform: translateZ(280px) scale(.80);
}
.layers .layers_container .item.layer_6 {
    transform: translateZ(300px);
}
.layer_3, .layer_4, .layer_5, .layer_6 {
    pointer-events: none;
}

/* ==============================================================================================> */

.chat {
    --chat-size: calc(var(--index) * 40);
	position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  	width: var(--chat-size);
    max-width: 80%;
	height: 100vh;
   
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .chat .header {
    --border-size: calc(var(--index) * .1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-size) solid var(--color);
    border-end-end-radius: 10rem;
    border-end-start-radius: 10rem;
    box-shadow: -.5rem -.5rem 1rem rgba(0, 0, 0, .35),       
                 .5rem  .5rem 1rem rgba(255, 255, 255, .1),
          inset -.5rem -.5rem 1rem rgba(0, 0, 0, .35),
          inset  .5rem  .5rem 1rem rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
}
.chat .header h3{
    color: var(--textColor);
    font-size: calc(var(--index) * 1.5);
    font-weight: 900;
    letter-spacing: calc(var(--index) * .3);
    line-height: 1.5;
}

.chat .box.input {
    --border-size: calc(var(--index) * .1);
    display: flex;
    padding: calc(var(--index) * .55) calc(var(--index) * 1.35);
    background-color: transparent;
    border-top:  var(--border-size) solid var(--color);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: -.5rem -.5rem 1rem rgba(255, 255, 255, .1),       
                 .5rem  .5rem 1rem rgba(0, 0, 0, .35),
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
    backdrop-filter: blur(20px);
}
.chat .box.input .icon.close {
    position: absolute;
    top: -2.25%;
    right: -2.25%;
    transform: translateY(-50%);
    height: 1.5rem;
    width: auto;
}
.chat .box.input .icon.close svg {
    display: none;
    height: 100%;
    width: auto;
    filter: 
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .65));
}
.chat .box.input .icon.close svg path {
    stroke: var(--textColor);
    stroke-width: 10px;
    fill: none;
}
.chat .box.input textarea{
    display: flex;
    flex: 20;
    height: calc(var(--index) * 1.15);                 
    margin-right: calc(var(--index) * .5);
    background: transparent;
    
    text-align: center;
    color: var(--textColor);
    font-size: calc(var(--index) * .95);
    font-weight: 400;
    font-family: merriweather-italic-3d;
    letter-spacing: calc(var(--index) * .125);
    
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
}
.chat .box.input textarea::placeholder{
    text-align: center;
} 
.chat .box.input button{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
    transition: all .5s linear;
   
}
.chat .box.input button .icon{
    margin-top: auto;
}
.chat .box.input button .icon.send {
    display: block;
}
.chat .box.input button .icon.spiner {
    display: none;
    animation: animateSpinner 1.25s linear infinite;
}

@keyframes animateSpinner {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.chat .box.input button .icon svg {
    display: flex;
    justify-content: center;
    height: calc(var(--index) * 1.05);
}
.chat .box.input button .icon svg path{
    stroke: var(--textColor);
    stroke-width: .5px;
    fill:#737373;
}


.chat .box.input button:hover .icon.send svg path{
    stroke-width: .5px;
    fill: var(--textColor);
}